<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #04AA6D;
          color: white;
        }
        input{
          margin-bottom: 20px;
        }
        img{
          width: 300px;
          height: 300px;
        }
        </style>
</head>

<body>

    <div>
        <img class="xinhvl" src="/img/257690256_4232839210154695_1948672509940965762_n.jpg" alt="xinhvl">
    </div>
    <div class="topnav">
        <a  href="/">Home</a>
        <a class="active" href="/friday">News</a>
        
      </div>
    <div class="form">
        <form action="/create-banner" method="post" enctype="multipart/form-data" style="width: min-content; height: max-content;">
            <fieldset style="width: min-content; height: min-content; display: flex;flex-direction: column;">
                <legend>Test lay thong tin</legend>
                <label for="fID">ID</label>
                <input type="text" name="fID">
                <label> Name</label>
                <input type="text" name="fname" id="">
                <label for="">Link anh</label>
                <input type="file" name="flink" id="">
                <button type="submit" value="upload">ok</button>
            </fieldset>
        </form>
    </div>
</body>
</html>