<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    Chao em nhe
    <div>
        <img class="xinhvl" src="/img/257690256_4232839210154695_1948672509940965762_n.jpg" alt="xinhvl">
    </div>
</body>
</html>